h3 {
    margin-top: 0.4rem;
}

h2 {
    margin-top: 0.8rem;
}

.container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #div-col-left>div {
        position: fixed;
    }
}

@media (min-width: 1200px) {
    #div-col-left {
        padding-left: 4em;
        padding-right: 4em;
    }

    #div-col-center {
        padding-right: 4em;
    }

    #div-interest li {
        min-width: 300px;
    }

    h2 {
        margin-top: 0.4rem;
    }

    #h2-professional-experience {
        margin-top: auto;
    }
}

#p-name {
    margin-top: 1em;
    margin-bottom: 1em;
}

#div-personal span {
    display: inline-block;
    margin-left: 1em;
}

#div-personal a:hover span {
    font-weight: bold;
}

#object-skill {
    margin-top: 5px;
    margin-bottom: 20px;
}

#div-svg-fallback {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#div-svg-fallback a {
    display: block;
    margin: 0.5em 2em 0.5em 2em;
}

.div-languages {
    margin-left: 2em;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-languages img {
    width: 84px;
}

.div-languages span {
    color: #ffbf00;
    margin-left: 1em;
}

#div-diverse p {
    margin-left: 2em;
}

#div-interest>ul {
    flex-direction: row;
    flex-wrap: wrap;
}

#div-interest li {
    border: none;
    max-width: 600px;    
}